@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  box-sizing: inherit;
}

* {
  transition: all 0.2s ease-in-out;
}

.homeBanner {
  background-image: url("../public/homeBanner.png");
  background-size: cover;
}

.courseImage {
  clip-path: ellipse(65% 95% at 50% 0%);
}

.border-gradient {
  position: relative;
}
.border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 3px;
  background: linear-gradient(
    45deg,
    rgb(37 99 235),
    rgb(99 102 241),
    rgb(168 85 247)
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.shadow-t-md {
  box-shadow:
    0 -4px 6px -1px rgba(0, 0, 0, 0.1),
    0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}

.transition-fade-in {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.transition-fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.transition-fade-in2 {
  transition: all 0.2s ease-in-out;
}

.transition-fade-out2 {
  transition: all 0.2s ease-in-out;
}

.slider-content {
  transition: transform 0.5s ease-in-out;
}

.unselectable {
  user-select: none;
}

.animateOpenModal {
  animation: moveInDown 0.5s ease-in-out;
}

.animateCloseModal {
  animation: moveOutUp 0.5s ease-in-out;
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}
